@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;900&display=swap');


:root {
    --font-family: 'Barlow', sans-serif;
    --h1-font-size: 2rem;
    --h2-font-size: 1.375rem;
    --h3-font-size: 1rem;
    --p-font-size: 1rem;
    --color-base: #ff0060;
    --color-primary: var(--color-base);
    --color-secondary: hsl(from var(--color-base) h s 80%);
    --color-accent: hsl(from var(--color-base) h s 60%);
    --color-background: hsl(from var(--color-base) h s 90%);
}

body {
    background-color: var(--color-background);
    font-family: barlow;
    accent-color: #ff0060;
    overflow: auto;
}

@media (min-width: 768px) {
    :root {
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.75rem;
        --p-font-size: 1.125rem;
    }
}

/*ELEMENTAL BUILDING BLOCKS */

/*HEADER WORK*/

header {
    margin-top: 10px;
    margin-bottom: 10px;
}

header h1 {
    text-align: center;
}

header p {
    text-align: center;
}

main {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}

/*FOOTER */
footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 5px;

}

/*portal - usedfor Apps*/

portal {
    position: fixed;
    /* Make the position fixed */
    top: 0;
    /* Align to the top of the viewport */
    left: 0;
    /* Align to the left of the viewport */
    margin: 5px;
}

portal i {
    color: white;
}


/*SIZE CLASSES */

.size-full {
    width: 100%;
    margin: 0;
}

.size-half {
    width: 50%;
}

.size-quarter {
    width: 25%;
}

.size-symm {
    width: 100%;
    margin-bottom: 20px;
}

/*ELEMENTAL TYPOGRAPHY*/

p {
    font-size: var(--p-font-size);
    line-height: 1.5;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: #333;
    text-align: justify;
    hyphens: auto;
    word-wrap: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 0.8rem;
    }
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
}


/* ELEMENTAL LISTS */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    color: #333;
}

li {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    padding: 0;
    margin: 0;
}

/*UL STRUCTURES */
/*HORIZONTAL OPTIONS */
.horizontal-options {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.horizontal-options li {
    margin-right: 10px;
}

/*BUTTON*/

button {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--font-family);
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    line-height: 1.2;
    background: rgba(255, 255, 255, 0.1);
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    text-align: center;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

/*Typography*/

h1 {
    font-size: var(--h1-font-size);
    line-height: 95%;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: var(--h2-font-size);
    line-height: 95%;
    font-weight: 500;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;

}

p {
    font-size: var(--p-font-size);
    line-height: 1.5;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

/*ULTILITY CLASSES*/

hr {
    height: 2px;
    border: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.center {
    text-align: center;
}

.vertical-menu {
    display: flex;
    width: 100%;
    flex-direction: column;
}



.medium-height {
    height: 104px;
}

.large {
    height: 208px;
}

.spacer {
    height: 200px;
}

/*Layout Classes*/

section {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

section:hover {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.layout-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    /* Ensures all children stretch to the same height */
}

.layout-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.layout-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.layout-grid[class*="columns-"] {
    grid-template-columns: repeat(var(--num-columns), 1fr);
}

.layout-grid.columns-3 {
    --num-columns: 3;
}

.layout-grid.columns-4 {
    --num-columns: 4;
}

.layout-grid.columns-5 {
    --num-columns: 5;
}

/* Responsive adjustments for screens less than 750px */
@media (max-width: 750px) {
    .layout-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .layout-grid[class*="columns-"] {
        grid-template-columns: repeat(2, 1fr);
        /* Default to 2 columns on small screens */
    }

    .layout-grid.columns-1 {
        --num-columns: 1;
        /* For explicitly one column layouts */
    }
}

/* Further responsive adjustments for the smallest screens */
@media (max-width: 480px) {
    .layout-grid {
        grid-template-columns: 1fr;
        /* Default to 1 column on the smallest screens */
    }

    .layout-grid>article {
        height: auto;
        /* Adjust height dynamically */
    }
}

.layout-grid>article {
    height: 400px;
    /* Default height, adjust as needed */
}




.layout-full-page {
    height: 100vh;
    display: flex;
    /* Added to ensure children are flex items */
    flex-direction: column;
    /* Stack children vertically */
    overflow: hidden;
    /* Prevent overflow on mobile */
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ensure children do not overlap on mobile */
@media (max-width: 768px) {
    .layout-full-page {
        flex-direction: column;
        /* Maintain vertical stacking */
    }
}

@media (max-width: 768px) {
    .layout-horizontal {
        flex-direction: column;
    }
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

table th {
    width: 50%;
    text-align: center;
    padding: 12px 20px;
    transition: background-color 0.3s, color 0.3s;
}

table th:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

table th:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: #ff0060;
}

table th:focus {
    outline: 2px solid #ff0060;
}

table td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

table td:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

table td:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ff0060;
}

table td:focus {
    outline: 2px solid #ff0060;
}

table tr:last-child td {
    border-bottom: none;
}

table hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

table td:first-child {
    text-align: left;
}

table td:last-child {
    text-align: right;
}

th {
    font-weight: 400;
    font-size: var(--h3-font-size);
}


/*Special Use Tables */

/* 1. TABLE GRID */

.table-grid {
    width: 100%;
    border-collapse: collapse;
}

.table-grid td {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    /* Aligns content to the top */
}


/*Special Misc Classes */

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

article {
    max-width: 100%;
    margin: 5px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    transition: transform 0.3s ease, background 0.3s ease;
}

article:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
}



/*INPUTS and FORMS*/

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    background: rgba(45, 45, 45, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 18px;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    color: #FFF;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
}

input[type="text"]:focus {
    background: rgba(55, 55, 55, 0.7);
    color: #E0E0E0;
    border-color: rgba(255, 255, 255, 0.8);
}

/* Universal style for all textareas */
textarea {
    background: rgba(45, 45, 45, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 18px;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    color: #FFF;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    min-width: 100%;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
}

textarea:focus {
    background: rgba(55, 55, 55, 0.7);
    color: #E0E0E0;
    border-color: rgba(255, 255, 255, 0.8);
}

/* Universal style for all select dropdowns */
select {
    background: rgba(45, 45, 45, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 18px;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    color: #FFF;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

select:focus {
    background: rgba(55, 55, 55, 0.7);
    color: #E0E0E0;
    border-color: rgba(255, 255, 255, 0.8);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    /* Remove default styling */
    appearance: none;
    width: 20px;
    /* Size of the checkbox */
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* Border color */
    border-radius: 4px;
    /* Rounded corners */
    background-color: rgba(255, 255, 255, 0.1);
    /* Background color */
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
    /* Smooth transition */
}

input[type="checkbox"]:checked {
    background-color: rgba(255, 255, 255, 0.3);
    /* Checked background */
    border-color: rgba(255, 255, 255, 0.8);
    /* Checked border color */
}

input[type="checkbox"]:checked::after {
    content: '';
    /* Create a checkmark */
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 12px;
    border: solid white;
    /* Checkmark color */
    border-width: 0 1px 1px 0;
    /* Checkmark shape */
    transform: rotate(45deg);
    /* Rotate to form a checkmark */
}

input[type="checkbox"]:hover {
    border-color: rgba(255, 255, 255, 0.8);
    /* Change border on hover */
}



/*CONDITIONAL LOGIC WITH SIDEBAR */

main.sidebar-active {
    margin-left: 300px;
}


/* Sidebar Styles */
aside {
    display: none;
}

aside.active {
    transform: translateX(0);
    width: 245px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: var(--font-family);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-background);
    border-right: 1px solid #e9ecef;
    overflow-y: auto;
    z-index: 1000;
    transition: transform 0.3s ease;
}

aside header h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside nav ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

aside nav ul li i {
    margin-right: 10px;
    color: #0645ad;
}

aside nav ul li:hover {
    background-color: #eaecf0;
    cursor: pointer;
}

aside nav ul li p {
    font-weight: 400;
    font-family: var(--font-family);
    color: #202122;
    letter-spacing: 0.02em;
    line-height: 1.6;
    margin: 0;
    transition: color 0.3s ease;
}

aside nav ul li p:hover {
    color: #0645ad;
}

.sidebar-active main {
    margin-left: 245px;
}

/*DROPDOWN*/

details>summary {
    cursor: pointer;
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>nav {
    display: none;
    padding-left: 20px;
}

details[open]>nav {
    display: block;
}

details>nav>a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 5px 0;
}

details>nav>a:hover {
    background-color: var(--color-accent);
}

/* Hide the actual checkbox */
.toggle-checkbox {
    display: none;
}

/* Style the label as a button */
.toggle-label {
    display: inline-block;
    cursor: pointer;
    /* Add button styling here */
}

/* Control the sidebar visibility */
.toggle-checkbox:checked~aside {
    transform: translateX(0);
}

/* OJBECT Currently acts as a user float */

object {
    width: 100%;
    position: fixed;
    top: 10px;
    right: 10px;
    border-top-right-radius: 10px;
    background: rgba(255, 255, 255, 0.41);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(min(150px, 100% - 20px));
    max-width: 90%;
    display: flex;
    transition: transform 0.3s ease;
}

object a {
    text-decoration: none;
    color: var(--color-text-primary, black);
    line-height: 95%;
}

object summary {
    text-decoration: none;
    color: var(--color-text-primary, black);
    line-height: 95%;
}

object a:hover {
    background-color: #ff0060;
}

object summary:hover {
    background-color: #ff0060;
}

object details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}


/*SPECIAL CLASSES to be rethought of ELEMENTS LATER */

/*LINK CLASSES*/

.product-card {
    min-width: 200px;
    height: 250px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 20px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
    background: rgba(255, 255, 255, 0.002);
}

.product-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.product-card:hover img {
    transform: scale(1.1);
}

.product-card h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffffff;
}

.product-card p {
    font-size: 0.9rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.product-card h1 h2 h3 a p {
    color: white;
}

.product-card img {
    filter: brightness(100);
    align-items: center;
    float: center;
    justify-content: center;
    width: 50%;
    height: auto;
}

/*IMG CLASSES*/

.small-logo {
    width: 100px;
    height: auto;
    filter: brightness(100);
    transition: all 0.3s ease;
}

.small-logo:hover {
    transform: scale(1.1) rotate(5deg);
    filter: brightness(100) drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
    cursor: pointer;
}


.small-logo {
    animation: pulse 2s infinite;
}



.small-logo {
    animation: float 5s ease-in-out infinite;
}



/*ANIMATIONS */

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-2.5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}



.popup-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.popup-section article {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
    color: #fff;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.popup-section button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: rgba(255, 69, 0, 0.7);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.popup-section.show {
    visibility: visible;
    opacity: 1;
}