/*AG CSS LIBRARY*/
/*AG SEXY STYLESHEET */
/* BECAUSE I WAS SICK OF ALL THE OPTIONS OUT THERE AND WANTED TO GET SEXY WITH IT */

/*TO USE - USE AGSEXY */

/*TEMPLATE 1 = THE BIG BRAND SPLASH SITCH */

/* COMPONENTS NEEDED */
/*

1. Layout Structure
2. Inner Compos
2. Buttons
3. Navigation
4. Forms
5. Tables
6. Images
7. Typography
8. Colors
9. Grid
10. Animations
11. Extra

.bigBrandInit {
    background-color: #000;
}

/*Layout = Big Brand */

.bigBoyBrand-Total {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.bigBoyBrand-Main {
    background-color: #ff0060;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}

.bigBoyBrand-Nav {
    position:relative;
    background-color: #dfaeae;
    height: 50px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
   

}

.bigBoyBrand-Nav-Menu ul {
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}

.bigBoyBrand-slideApp
{
    position:relative;
    color:white;
    height: 100vh;
    width: 100%;
    margin:0px;
    padding:0px;
    z-index: 100;
}

.bigBoyBrand-fc-SlideItem
{
    background-color: #000;
    height: 100%;
    width: 100%;
   
    z-index: 100;
}

.bigBoyBrand-fc-SlideBody {
    background-color: #000;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.bigBoyBrand-fc-SlideBody-Content {
    background-color: #000;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


/*BIG BOY CUSTOM SLIDE IMAGES */

#slide1 {
    background-color:red;
}

#slide2 {
    background-color:pink;
}

#slide3 {
    background-color:limegreen;
}

#slide4 {
    background-color:blue;
}

#slide5 {
    background-color:yellow;
}

#slide6 {
    background-color:orange;
}

#slide7 {
    background-color:purple;
}

#slide8 {
    background-color:grey;
}

#slide9 {
    background-color:lightblue;
}

#slide10 {
    background-color:lightgreen;
}

/*END OF SLIDE CUSTOMS */