@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    /* Use Barlow as the default font */

}

:root {
    --primary-color: #000000;
    --secondary-color: #f4f4f4;
    --text-color: #000000;
    --hover-color: #ddd;
    --background-color: rgba(255, 255, 255, 0.8);
    --footer-color: #ffffff;
    --link-color: #0066cc;
    --service-card-border-color: #ccc;
    --team-member-bg-color: #f8f9fa;
    --team-member-text-color: #212529;
    --footer-bg-color: black;
    --footer-text-color: white;
}

/* Now you can use these colors in your CSS like this: */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: var(--secondary-color);
    max-height: 100vh;
    padding: 50px;
}

header {
    background-color: var(--primary-color);
    color: var(--footer-color);
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
}

ul {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
    margin: 10px auto;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.1);
}

section {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

h1,
h2 {
    color: #000000;
}

.pageTitle {
    font-size: 120px;
    line-height: 85%;
    font-weight: 900;
    letter-spacing: 0cap;
    perspective: 1000px;
    /* This gives a 3D effect */
    transition: transform 0.5s;
    /* This makes the change smooth */
    overflow: hidden;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .pageTitle {
        font-size: 22px;
    }


}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: var(--footer-text-color);
    padding: 10px;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

#logo,
#title {
    max-width: 80%;
    height: auto;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

@media screen and (max-width: 600px) {

    #logo,
    #title {
        width: 90%;
    }
}

#about {
    background-color: transparent;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#about h1,
#about h2 {
    color: #333;
}

#about p {
    color: #666;
}

#about a {
    color: #0066cc;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}

.service-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-member {
    flex: 1 0 30%;
    /* grow | shrink | base width */
    margin: 1em;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

#team img {
    max-width: 80%;
}

.team-member h3 {
    background-color: #f8f9fa;
    color: #212529;
    padding: 1em;
}

.team-member p {
    padding: 1em;
}

.responsive-img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
}

.service-caption {
    font-size: 20px;
    /* Adjust as needed */
    font-weight: bold;
    text-align: center;
    padding: 10px;
}