body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

#storybook {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: relative;
}

#caption {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
}