/* ag-cv.css */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #333;
  background-color: #fff;
  padding: 24px;
}

.container {
  border: 1px solid #ddd;
  padding: 24px;
  background: #fff;
  max-width: 8.5in;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
}

.section {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #bbb;
}

.position,
.company,
.year,
.degree,
.major,
.school,
.graduation-date,
.title,
.institution,
.role,
.project {
  font-weight: bold;
}

#download {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#download:hover {
  background-color: #2980b9;
}

@media print {
  body,
  .container {
    box-shadow: none;
  }

  #download {
    display: none;
  }
}
