@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap");

/* CSS FOR LOGOS */
.companyLogo-portfolio {
    width: 100%;
    height: auto;
}

html {
    /* width:1280px; */
    height: 832px;
    font-family: "Barlow";
}

main {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 900;
    font-size: clamp(1rem, -0.875rem + 10.333vw, 15.5rem);
    line-height: 84.5%;
    /* or 75px */
    padding-left: 20px;
    /* Increased padding */
    padding-right: 20px;
    /* Increased padding */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

h2 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 900;
    font-size: clamp(1rem, -0.875rem + 5.333vw, 7.5rem);
    line-height: 84.5%;
    /* or 75px */

    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 74.5%;
    /* or 18px */

    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

h4 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 900;
    font-size: 2vw;
    line-height: 74.5%;
    /* or 18px */

    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

h5 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 900;
    font-size: 2vw;
    line-height: 74.5%;
    /* or 18px */

    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.portfolio-item {
    width: 100%;
    min-height: 85vh;
    height: auto;
    max-height: 100vh;
    border-style: solid;
    border-color: var(--black);

    display: flexbox;
    align-items: center;
    justify-items: center;
    text-align: center;

    margin-bottom: 10px;
}

#port-silverBack {
    background-attachment: fixed;
    background-size: contain;
    background-position: 0%;
    background-image: url(/portfolio/assets/companyLogos/silverBack.png);
}

.littleBuddyLogo {
    width: 64px;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 2px;
    padding: 20px;
}

#port-apePay {
    background-image: url(/ahoymrag.github.io/portfolio/assets/companyLogos/apePay.png);
    background-size: cover;
    background-attachment: fixed;

}

#port-Chaos {
    background-image: url(/ahoymrag.github.io/portfolio/assets/companyLogos/chaosNet.png);
    background-size: cover;
    background-attachment: fixed;
}

/* Media queries for mobile devices */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .portfolio-item {
        flex: 1 1 auto;
        /* Each item will take the full width */
    }

    .littleBuddyLogo {
        width: 32px;
        /* Reduce the size of the logo */
        padding: 10px;
        /* Reduce the padding */
    }
}

.custom-button {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, -0.875rem + 2.333vw, 3.5rem);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: black;
    /* Changed from var(--black) */
    background-color: white;
    /* Changed from var(--white) */
    border: 2px solid black;
    /* Changed from var(--black) */
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 10px;
}

.custom-button:hover {
    color: white;
    /* Changed from var(--white) */
    background-color: black;
    /* Changed from var(--black) */
    border: 2px solid white;
    /* Changed from var(--white) */
    cursor: pointer;
}

.home-button-wrap {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(127, 28, 28, 0);
    /* Transparent background to match the vibe */
}

.home-button-link {
    font-family: "Barlow";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffeb;
    /* Slightly transparent white for a softer look */
    mix-blend-mode: difference !important;
    width: 100px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-color: black;
    /* Adding border to match the style */
    padding: 10px 20px;
    /* Adjusted padding for better spacing */
    margin: 0 10px;
    /* Added margin for spacing between buttons */
    font-size: 10px;
    /* Adjusted font size to match the request */
    text-decoration: none;
    /* Removing underline from links */
    color: black;
    /* Text color */
}

.visit-apeworx-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10;
    text-transform: uppercase;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.visit-apeworx-btn:hover {
    background-color: #ff0060;
    /* Desired hover background color */
    color: white;
    /* Desired text color on hover */
}