/* Page setup for print or PDF export */
@page {
  size: A4;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

/* General HTML and body styling */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

/* Body container with a maximum width */
body {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}

/* Styling for lists */
li {
  line-height: 118%;
}
