:root {
    /* CMYK-inspired colors */
    --cyan: #00FFFF;
    --magenta: #FF00FF;
    --yellow: #FFFF00;
    --key: #000000;

    /* Teal variations */
    --teal-green: #002621;
    --light-teal: #03ffff;
    --dark-teal: #006D5B;

    /* Updated color scheme */
    --background-color: var(--teal-green);
    --text-primary: white;
    --card-background: rgba(18, 18, 18, 0.2);
    --card-hover-background: rgba(255, 255, 255, 0.3);
    --button-background: rgba(255, 255, 255, 0.15);
    --button-border-color: #FFF;
    --button-hover-border-color: rgba(255, 255, 255, 0.8);

    /* Accent colors */
    --accent-color: var(--yellow);
    --secondary-color: var(--cyan);
    --tertiary-color: var(--magenta);

    /* Shadows */
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    --card-hover-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

    /* Blur */
    --blur-amount: 5px;

    /* Button variations */
    --btn-inactive-bg: var(--dark-teal);
    --btn-on-bg: rgba(0, 255, 255, 0.439);
    --btn-off-bg: rgba(255, 255, 0, 0.444);
}

/* Optional: Update specific elements for the new theme */




.card {
    border: 1px solid var(--light-teal);
}

.panel {
    border-color: var(--dark-teal);
}

/* Button styles */
button {
    background: var(--button-background);
    color: var(--text-primary);
    border: 1px solid var(--button-border-color);
    backdrop-filter: blur(calc(var(--blur-amount) / 2));
}

button:hover {
    background: var(--card-hover-background);
    border-color: var(--button-hover-border-color);
}

/* Button variations */
.btn-inactive {
    background-color: var(--btn-inactive-bg);
    border-color: var(--dark-teal);
    color: var(--light-teal);
}

.btn-inactive:hover {
    background-color: var(--teal-green);
    border-color: var(--light-teal);
}

.btn-on {
    background-color: var(--btn-on-bg);
    border-color: var(--cyan);
    color: var(--cyan);
}

.btn-on:hover {
    background-color: var(--cyan);
    color: var(--teal-green);
}

.btn-off {
    background-color: var(--btn-off-bg);
    border-color: var(--yellow);
    color: var(--yellow);
}

.btn-off:hover {
    background-color: var(--yellow);
    color: var(--teal-green);
}